{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Edit Product Details</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="flex flex-col min-h-screen">
  <div class="container mx-auto px-4 py-8 mt-16 max-w-xl">
    <h1 class="text-3xl  text-center mb-8 text-white">Edit Product Details</h1>
  
    <div class="bg-[#1A1A1A] shadow-md rounded-lg p-6 form-style" style="box-shadow: 0 4px 30px rgba(255, 255, 255, 0.2);"">
      <form method="POST" class="grid grid-cols-1 lg:grid-cols-2 gap-4">
        {% csrf_token %}
        {% for field in form %}
          <div class="flex flex-col {% if field.label == 'Description' %}col-span-1 lg:col-span-2{% endif %}">
            <label for="{{ field.id_for_label }}" class="mb-2 text-[#777777]">
             {{ field.label }}
            </label>
           <div class="w-full">
             {{ field }}
            </div>
            {% if field.help_text %}
              <p class="mt-1 text-sm text-gray-500">{{ field.help_text }}</p>
            {% endif %}
            {% for error in field.errors %}
              <p class="mt-1 text-sm text-red-600">{{ error }}</p>
            {% endfor %}
          </div>
        {% endfor %}
        <div class="grid grid-cols-1 lg:grid-cols-2 justify-center mt-6 lg:col-span-2 gap-4">
          <button type="submit" class="bg-indigo-600 text-white font-semibold px-6 py-3 rounded-lg hover:bg-indigo-700 transition duration-300 ease-in-out w-full" style="box-shadow: 0 4px 30px rgba(255, 255, 255, 0.2);">
            Save Edit
          </button>
          <a href="{% url 'main:show_main' %}" class="bg-red-600 text-white font-semibold px-6 py-3 rounded-lg text-center hover:bg-red-700 transition duration-300 ease-in-out w-full" style="box-shadow: 0 4px 30px rgba(255, 255, 255, 0.2);">
            Cancel
          </a>
        </div>          
      </form>
    </div>
  </div>
</div>
{% endblock %}